.link__shop-nav {
    font-size: 17px;
    line-height: 27px;
    color: #B3B3B3;
    margin-top: 20px;
    margin-left: 48px;
    height: 27px;
}

.link__shop-nav:first-child {
    color: #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
    padding-bottom: 5px;
    margin-left: 0;
}