@import url(./_bottom-border/link__notes_bottom-border.css);
@import url(./_black/link__notes_black.css);

.link__notes {
    height: 45px;
    width: 105px;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}

.link__notes::after {
    content: "\A→";
    white-space: pre;
}
