@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/header/header.css);
@import url(./blocks/link/link.css);
@import url(./blocks/notes/notes.css);
@import url(./blocks/shop/shop.css);
@import url(./blocks/stock/stock.css);
@import url(./blocks/categ/categ.css);
@import url(./blocks/story/story.css);
@import url(./blocks/mailing/mailing.css);
@import url(./blocks/footer/footer.css);

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body > footer {
    position: sticky;
    top: 100vh;
}

::selection {
    color: #1A1A1A;
    background: #CED3CA;
}

a, a:visited {
    text-decoration: none;
}


a:hover {
    color: #CED3CA !important;
    transition: color 1s ease-in-out;
}

a:active {
    background-color: #a1a79d;
}

a:focus {
    background-color: #90948b;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

* {
    margin: 0;
    padding: 0;
}
