.animations {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.anim_scaleup {
    animation: scaleup 3s alternate ease-in-out infinite both;
}

@keyframes scaleup {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

.anim_rotate {
    animation: rotate 3s  ease infinite both;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.anim_flip {
    animation: flip 2s infinite alternate both;
}

@keyframes flip {
    0% {
        transform: rotate3d(-1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(-1, 1, 0, -180deg);
    }
}

.anim_swingr {
    animation: slide-rotate-hor-top 2s ease-in infinite alternate both;
}

@keyframes slide-rotate-hor-top {
    0% {
        transform: translateY(0) rotateX(0deg) rotateZ(0deg);
    }
    100% {
        transform: translateY(-110px) rotateX(-90deg) rotateZ(360deg);
    }
}

.anim_reverse:hover {
    width: 150px;
    height: 150px;
}

.anim_rad:hover {
    border-radius: 0;
}