.gradients {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.gradients__linear, .gradients__radial, .gradients__conic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 30px;
}

.gradients__linear {
    background-image: linear-gradient(#557e0e, #F7F7F7);
    transition: border-radius 2s cubic-bezier(.25,0,.75,1);
}

.gradients__radial {
    background-image: radial-gradient(white, #557e0e, black);
    transition: height 2s cubic-bezier(.25,1,.75,-1), width 2s cubic-bezier(.25,-1,.75,1);
}

.gradients__conic {
    background-image:  conic-gradient(red, orange, yellow, green, cyan, blue, purple, red);
}