.register-form__button {
    width: 200px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    background: #1A1A1A;
    border-width: 0;
    color: white;
}

.register-form__button:first-child {
    margin-right: 3vw;
}

.register-form__button:hover {
    cursor: pointer;
}

.register-form__button:disabled {
    background: #cccccc;
    cursor: default;
}