.link__user-menu {
    font-size: 14px;
    line-height: 18px;
    color: #292929;
    margin-left: 12px;
}

.link__user-menu:nth-child(odd) {
    border-right: 1px solid;
    padding-right: 13px;
}

.link__user-menu:nth-child(3n) {
    margin-left: 30px;
}

.link__user-menu:nth-child(4n) {
    margin-top: 6.5px;
}

