.footer__creator {
    font-size: 15px;
    line-height: 21px;
    color: #1a1a1a;
    margin-bottom: 9px;
    text-align: right;
    width: 233px;
}

.footer__creator:last-child {
    margin-bottom: 0;
}