@import url(./__fieldset/register-form__fieldset.css);
@import url(./__label/register-form__label.css);
@import url(./__legend/register-form__legend.css);
@import url(./__input/register-form__input.css);
@import url(./__button/register-form__button.css);
@import url(./__buttons/register-form__buttons.css);
@import url(./__block/register-form__block.css);
@import url(./__flex/register-form__flex.css);

.register-form {
    width: 75%;
    margin: 3vw 12.5%;
    color: #1A1A1A;
}

::placeholder {
    padding-left: 0.3vw;
    color: #9aac8e;
}


dt::first-letter {
    font-size: 2em;
}

dd::after {
    content: "\1F6C8";
}