.link__shop {
    width: 113px;
    height: 28px;
    background: #1A1A1A;
    border-width: 0;
    color: white;
    font-size: 12px;
    line-height: 28px;
    margin-left: 16px;
    text-align: center;
}

.link__shop_big {
    background: #1A1A1A;
    border-width: 0;
    color: white;
    width: 302px;
    height: 56px;
    font-size: 20px;
    line-height: 56px;
    margin: 0 calc(50% - 151px) 172px calc(50% - 151px);
    text-align: center;
    display: inline-block;
}