@import url(./_new/shop__product-price_new.css);
@import url(./_old/shop__product-price_old.css);

.shop__product-price {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 31px;
}