@import url(./__title/story__title.css);
@import url(./__info/story__info.css);

.story {
    background-image: url(../../images/story.jpg);
    height: 600px;
    background-size: cover;
    background-color: #1A1A1A;
}