@import url(./__info/notes__info.css);
@import url(./__text/notes__text.css);

.notes {
    background-image: url(../../images/notes.jpg);
    background-size: cover;
    background-color: #1A1A1A;
    height: 600px;
}