.register-form__input_randc {
    margin-right: 5px;
}

.register-form:nth-of-type(2) .register-form__input_randc:checked + .register-form__label {
    text-decoration: line-through;
}

.register-form__input_randc:nth-of-type(2n+1)[name="pseudoclass"] + .register-form__label {
    color:lightcoral;
}

.register-form__input_randc:nth-of-type(2n)[name="pseudoelement"] + .register-form__label {
    color:lightcoral;
}