.register-form__label {
    margin-right: 1vw;
    text-shadow: 1px 1px 2px #9aac8e;
}

.register-form__input:focus + .register-form__label  {
    color: rgb(138, 170, 82);
}

.register-form__input_randc:checked + .register-form__label  {
    color: rgb(85, 126, 14);
}
