.shop__product-image {
    height: 341px;
}

.shop__photo-card:nth-child(21) .shop__product-image, .shop__photo-card:nth-child(22) .shop__product-image {
    animation: appearance 1s 4s both;
}


@keyframes appearance {   
  0% {
    opacity: 0;
  }   
  100% {
    
    opacity: 1;
   }
}

