@import url(./__main/stock__main.css);
@import url(./__info/stock__info.css);
@import url(./__title/stock__title.css);
@import url(./__text/stock__text.css);

.stock {
    background-color: #CED3CA;
    /* height: 660px; */
    padding-top: 127px;
    padding-bottom: 127px;
}