.footer__points {
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: black;
    margin-top: 16px;
}

.footer__points:visited {
    color: black;
}

.footer__points:first-child {
    margin-top: 0;
}