@import url(./_randc/register-form__input_randc.css);

.register-form__input {
    margin-right: 2vw;
    box-shadow: 2px 2px;
}

.register-form__input:required {
    border: 1px solid red;
}

.register-form__input:valid {
    border: 2px inset rgb(133, 133, 133);
}