.shop__loader {
    margin: calc((341px - 64px)/2) calc((275px - 60px)/2);
    animation: disappearance 1s 3s both;
}


@keyframes disappearance {   
  from {
    opacity: 1;
  }   
  to {
    opacity: 0;
   }
}

.shop__loader_another {
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: blue;
    border-bottom-color: blue;
    animation: 2s spin infinite linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }