.categ__option {
    display: flex;
    flex-direction: column;
}

.categ__option:nth-child(2n) {
    margin-left: 116px;
}

.categ__option:nth-child(3n) {
    margin-top: 70px;
    margin-bottom: 93px;
}